@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Open Sans;
  }
  
  * {
    scroll-behavior: smooth;
  }

  h2 {
    font-size: clamp(20px, 3vw, 50px)
  }

  p {
    font-size: clamp(10px, 2vw, 30px)
  }

  .footerLinkStyle {
    height: clamp(25px, 5vw, 50px);
    width: clamp(25px, 5vw, 50px);
  }

  .navLinkButtonStyle {
    font-size: clamp(20px, 1.5vw, 50px)
  }

  .blockStyle {
    font-size: clamp(20px, 2.5vw, 80px)
  }

  .shopStyle {
    font-size: clamp(30px, 2vw, 60px)
  }

  .trailMapHeader {
    font-size: clamp(30px, 2vw, 60px)
  }

  .trailMapStyle {
    font-size: clamp(20px, 1vw, 40px)
  }

  .marqueeTextStyle {
    font-size: clamp(30px, 4vw, 100px)
  }

  .footerTextStyle {
    font-size: clamp(10px, 1vw, 27px)
  }
  
  .hover-underline-animation {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #230A43;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    height: 2.5px;
    transform-origin: bottom left;
  }
}